input {
    udp {
        port => 2055
        type => netflow
        codec => netflow {
            definitions => "/opt/logstash/vendor/bundle/jruby/1.9/gems/logstash-codec-netflow-1.0.0/lib/logstash/codecs/netflow/netflow.yaml"
        }
    }
}

output {
    elasticsearch {
        host => localhost
        index => "logstash_netflow-%{+YYYY.MM.dd}"
    }
}
